<ng-container *ngFor="let item of myArr; let i=index">
  <div  [appCusTab]="{duration:1000}"
        style="margin-top:30px ">
    <div>
      <button data-cus-toggle="1" >btn1</button>
      <button data-cus-toggle="2" >btn2</button>
      <button data-cus-toggle="3" >btn3</button>
      <button data-cus-toggle="4" >btn4</button>
      <button data-cus-toggle="5" >btn5</button>
    </div>
    <div>
      <div  data-cus-content="1">1</div>
      <div  data-cus-content="2">2</div>
      <div  data-cus-content="3">3</div>
      <div  data-cus-content="4">4</div>
      <div  data-cus-content="5">5</div>
    </div>
  </div>
</ng-container>


<!--.......-->
<!--<ng-container *ngFor="let item of myArr; let i=index">-->
<!--  <div   style="margin-top:30px ">-->
<!--    <div>-->
<!--      <button data-cus-toggle="1" (click)="f(i,1)">btn1</button>-->
<!--      <button data-cus-toggle="2" (click)="f(i,2)">btn2</button>-->
<!--      <button data-cus-toggle="3" (click)="f(i,3)">btn3</button>-->
<!--      <button data-cus-toggle="4" (click)="f(i,4)">btn4</button>-->
<!--      <button data-cus-toggle="5" (click)="f(i,5)">btn5</button>-->
<!--    </div>-->
<!--    <div [ngSwitch]="myStateArr[i]">-->
<!--      <div *ngSwitchCase="1" data-cus-content="1" >1</div>-->
<!--      <div *ngSwitchCase="2" data-cus-content="2" >2</div>-->
<!--      <div *ngSwitchCase="3" data-cus-content="3" >3</div>-->
<!--      <div *ngSwitchCase="4" data-cus-content="4" >4</div>-->
<!--      <div *ngSwitchCase="5" data-cus-content="5" >5</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->
<!--.......-->
